/* color palette */
:root {
    /* neutrals */
    --white: #fdfdfb;
    --black: #000000;
    --brown: #362107;

    /* beige | coral */
    --beige-l: #e8d9c6;
    --beige-m: #d1ae81;
    --beige-d: #9e6720;
    --coral: #eb7753;

    /* green */
    --green-l: #c8d9d3;
    --green-m: #89b2a4;
    --green-d: #467765;
}
